## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.userprefs
*.pidb
*.booproj
*.svd
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/
*.sln.iml

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

## AWS
*.zip
publish/

## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
